<section>
  <div data-aos="fade-up" data-aos-duration="1000">
    <h1>Recupere sua conta</h1>
    <p>Insira seu e-mail cadastrado para receber as instruções de recuperação de senha.</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Digite o seu e-mail" formControlName="email">
        <mat-icon matSuffix>mail</mat-icon>

        @if (form.get('email')?.hasError('required')) {
          <mat-error>O e-mail é obrigatório</mat-error>
        }

        @else if (form.get('email')?.hasError('email')) {
          <mat-error>E-mail inválido</mat-error>
        }
      </mat-form-field><br>

      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Enviar email</button><br>
      <button mat-raised-button routerLink="/">Voltar ao início</button>
    </form>
  </div>
</section>


