<section class="card-agendamento">
  <div class="linha1">
    <div>
      <h3>{{ agendamento().clienteNome.split(' ').slice(0, 2).join(' ') }}</h3>
      <div>
        <span><img src="icones/email.png" alt="Icone e-mail"/>{{ agendamento().clienteEmail }}</span>
        <span>
          <img src="icones/phone.png" alt="Icone telefone"/>
          {{
              (agendamento().clienteTelefone) | mask: ((agendamento().clienteTelefone.length) > 10 ? '(00) 00000-0000' : '(00) 0000-0000')
          }}
        </span>
      </div>
    </div>
    <div>
      <button class="botao-editar" (click)="openDialog()"></button>
      <button class="botao-excluir" (click)="openDeleteDialog()"></button>
    </div>
  </div>

  <div class="linha2">
    <div>
      <p><img src="icones/work.png" alt="Icone pasta de trabalho">Serviço</p>
      <span>{{ agendamento().servico }}</span>
    </div>

    <div>
      <p><img src="icones/calendario-roxo.png" alt="Icone calendário">Data</p>
      <span>{{ agendamento().dataHoraAgendamento | date: 'dd/MM/yyyy' }}</span>
    </div>

    <div>
      <p><img src="icones/clock.png" alt="Icone relógio">Horário</p>
      <span>{{ agendamento().dataHoraAgendamento | date: 'HH:mm' }}</span>
    </div>
  </div>
</section>
