<main>
  <section class="secao-principal">
    <div data-aos="fade-up" data-aos-duration="1000">

      <div class="principal__titulos">
        <span class="principal__chip">
          <img src="icones/star.png">
          Estúdio de Beleza Premium
        </span>

        <h1>Lolomakeup</h1>

        <h2>
          Realce sua beleza natural com meus serviços exclusivos de alta qualidade em um ambiente sofisticado e acolhedor.
        </h2>
      </div>

      <div class="principal__botoes">
        <a class="principal__botoes__roxo" routerLink="/cadastro">
          <img src="icones/calendario.png" alt="Icone calenário"/>
          Agendar agora
          <img src="icones/arrow-right.png" alt="Icone calenário"/>
        </a>

        <a class="principal__botoes__branco" routerLink="/login">Fazer Login</a>
      </div>
    </div>
  </section>
</main>
